{% extends 'base.html' %}
{% block title %} Information Retrieval Project {% endblock %}
{% block header %} <h1>Information Retrieval Project</h1> {% endblock %}
{% block actions %}
    <p>Type a keyword to search for locally or via Google API.</p>
    <form  method="post">
        <p><input type="search" value="" name="keyword" />
            <label for=files>Select File to Search: </label>
            <select name="file">
                {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <label for=scoring_methods>Select Scoring Method for Search: </label>
            <select name="score_method">
                {% for score_method in scoring_methods %}
                    <option value="{{ score_method }}">{{ score_method }}</option>
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" value="Search Locally" name="button"/></p>
        <p><input type="submit" value="Search Google" name="button"/></p>
    </form>
{% endblock %}
{% block results %}
    {% if not keyword %}
        <p>Search for something!</p>
    {% else %}
        <p>Search Results for {{ keyword }}</p>
        <p>Showing {{ results|length }} results</p>
        <!-- iterate through list of objects found in the search -->
        <!-- be it a search result locally or via Google. -->
        {% if medium == "Google" %}
            {% for r in results %}
                <hr class="dotted">
                <p>
                    {%  if r['pagemap']['cse_thumbnail'] %}
                        <a href={{ r['formattedUrl'] }} target="_blank"><img src={{ r['pagemap']['cse_thumbnail'][0]['src'] }} width=200 }} height=100 />   {{ r['htmlTitle']|safe }}</a>
                    {% else %}
                        <a href={{ r['formattedUrl'] }} target="_blank">{{ r['htmlTitle']|safe }}</a>
                    {% endif %}
                </p>
                <p>{{ r['displayLink'] }}</p>
                <p>{{ r['htmlSnippet']|safe }}</p>
            {% endfor %}
        {% endif %}
        {% if medium == "Locally" %}
            <p>Note: for multifield search, 'artist' field gets a field_boost = 2.0</p>
            {% for r in results %}
                <hr class="dotted">
                <p style="font-size:20px"><a href="{{ url_for('lyrics', song=r.dictionary['song'], lyrics=r.dictionary['lyrics']) }}"
                         target="_blank">
                    {{ r.dictionary['song'] }}
                </a></p>
                <p>{{ r.dictionary['song'] }} -- {{ r.dictionary['artist'] }} -- {{ r.dictionary['year'] }}</p>
                <p>Ranked at {{ r.rank }} with a score of {{ '%.3f'|format(r.score) }}</p>
                <p>{{ r.snippet|safe }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}